name: Flask CI Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Set up Python
    uses: actions/setup-python@v5
    with: 
      python-version: '3.10'

  - name: Installing dependancies
    run: |
     python -m pip install --upgrade pip
     pip install flask

  - name: Run Flask app test
    run: |
     python app.py &
     sleep 5
     curl http://127.0.0.1:5000 
